__pycache__/*
controllers/player/build
controllers/model_verifier/results/*
controllers/referee/meshes/*
controllers/referee/recording.css
controllers/referee/recording.html
controllers/referee/recording.x3d
controllers/referee/textures/*
.idea/*
